name: Lunajson CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: ubuntu-latest, platform: linux, shell: bash }
          - { os: windows-latest, platform: mingw, shell: 'msys2 {0}' }

    defaults:
      run:
        shell:
          ${{ matrix.shell }}

    steps:
    - uses: actions/checkout@v4

    - name: Cache lua impls
      id: cache-lua
      uses: actions/cache@v4
      env:
        cache-name: cache-lua
      with:
        path: ~/lua
        key: ${{ matrix.os }}-${{ hashFiles('ci/lua_impls.txt') }}

    - name: Install msys
      if: matrix.os == 'windows-latest'
      uses: msys2/setup-msys2@v2
      with:
        install: gcc make

    - name: Prepare lua impls
      run: |
        sed -e "s/^platform=.*/platform=${{ matrix.platform }}/" ci/lua_base.sh.example > lua_base.sh
        ci/prepare_lua.sh

    - name: Run test
      run: test/run.sh
